.comment-block {
    align-items: center;
    background: white;
    display: block;
    width: 100%;
    padding: 20px;
    gap:10px;
    border-radius:6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}


.card1 {
    padding: 10px 0;
    color: gray;
    display: flex;
    gap: 15px;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 15px;
}

.card1 span {
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
    background: #f8f8f8;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}

.card1 span:first-child {
    background: gray;
    color: white;
}
